body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3rem;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px; /* length on the border line */
    text-align: center;
    box-shadow: 4px 4px 5px #888888; /* L B T */
    margin-top: 10px;
}
img {
    width: 450px;
    height: 300px;
    margin: 10px; /* adds spaces between the images */
    transition: all 1s; /* i want the image to transition when an action is taken on it and i want all the prperties to transition within 1s */
}
img:hover {
    transform: scale(1.1); /* when i hover i want to transform by a scale of 1.1 i.e. its growing */
    /* 'animation' prperty check it out */
}

/* Always check if the features are supported by the browser */