p {
    border: 5px solid rgba(255, 176, 170, 0.5);
    text-decoration: line-through;
    text-transform: uppercase;
    line-height: 50px; /* adds 50px spacing between the lines */
    font-style: italic;
    font-weight: bolder;
    font-size: 150%;
    font-family: 'Poiret One', cursive;;
}

img {
    float: left; /* to have images wrapped by text */
}
footer {
    clear: both;
    text-align: center;
}
/* The clear property specifies what should happen with the element that is next to a floating element.
The “clear: both” means floating the elements are not allowed to float on both sides */